openapi: 3.0.1
info:
  title: Mobilityways API
  version: 2.0.0
servers:
  - url: https://interface.liftshare.com
    description: Production
  - url: http://localhost
    description: Current server
  - url: https://interface-dev.liftshare.com
    description: Development
  - url: https://liftshare-api-core-staging.azurewebsites.net
    description: Staging
paths:
  /v2/404:
    post:
      tags:
        - '404'
      summary: ''
      description: Internal use only. Inserts log entry or a 404 request.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Log-Request_gvmhyq'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__Log-Request_Log-Response_Log-Response__mrdvma'
  /v2/acel/national:
    get:
      tags:
        - acel
      summary: ''
      description: ''
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__AcelNationalBreakdown-Request_AcelNationalBreakdown-Response_AcelNationalBreakdown-Response__eftna'
  /v2/travel-plan/admin-overview/distance-frequency-breakdown:
    post:
      tags:
        - AdminInsightsDistanceBreakdown
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistanceFrequencyBreakdown-Request_slqi'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__DistanceFrequencyBreakdown-Request_DistanceFrequencyBreakdown-Response_DistanceFrequencyBreakdown-Response__nxti'
  /v2/travel-plan/admin-overview/client-list:
    post:
      tags:
        - AdminInsightsDistanceClientList
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientOverview-Request_qonqzzi'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__ClientOverview-Request_ClientOverview-Response_ClientOverview-Response__gzdqi'
  /v2/liftshare/app/dashboard:
    post:
      tags:
        - app
      summary: ''
      description: ''
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__MobileAppDashboard-Request_MobileAppDashboard-Response_MobileAppDashboard-Response__dkwpgzi'
  /v2/community:
    get:
      tags:
        - community
      summary: ''
      description: ''
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__CommunityList-Request_CommunityList-Response_CommunityList-Response__loiapy'
  /v2/liftshare/community/search-by-name:
    post:
      tags:
        - community
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommunityFindByName-BaseRequest_qbmaui'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__CommunityFindByName-Request_CommunityFindByName-Response_CommunityFindByName-Response__pwvxkma'
  '/v2/liftshare/gamification/community-leaderboard/{communityId}':
    get:
      tags:
        - CommunityLeaderboard
      summary: ''
      description: ''
      parameters:
        - name: communityId
          in: path
          required: true
          schema:
            type: string
        - name: dateFilter
          in: query
          schema:
            $ref: '#/components/schemas/LeaderboardDateFilter_gkngiji'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__CommunityLeaderboard-Request_CommunityLeaderboard-Response_CommunityLeaderboard-Response__xtba'
  /v2/contact/delete:
    delete:
      tags:
        - contact
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactDelete-Request_atfqfq'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__ContactDelete-Request_ContactDelete-Response_ContactDelete-Response__scoli'
  '/v2/contact/{publicId}':
    get:
      tags:
        - contact
      summary: ''
      description: ''
      parameters:
        - name: publicId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__ContactDetails-Request_ContactDetails-Response_ContactDetails-Response__mwea'
  /v2/contact/email/taken:
    post:
      tags:
        - contact
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactEmailExists-Request_uzjqjq'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__ContactEmailExists-Request_ContactEmailExists-Response_ContactEmailExists-Response__qvexgja'
  /v2/contact/export:
    get:
      tags:
        - contact
      summary: ''
      description: ''
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            format: int32
        - name: maxPerPage
          in: query
          schema:
            type: integer
            format: int32
        - name: searchQuery
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
  /v2/contact/filtered-export:
    post:
      tags:
        - contact
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactFilteredExport-Request_lenfq'
      responses:
        '200':
          description: Success
  /v2/contact/import:
    post:
      tags:
        - contact
      summary: ''
      description: ''
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__ContactImport-Request_ContactImport-Response_ContactImport-Response__cmweui'
  /v2/contact/import/headers:
    post:
      tags:
        - contact
      summary: ''
      description: ''
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__ContactImportHeaders-Request_ContactImportHeaders-Response_ContactImportHeaders-Response__tacalzy'
  /v2/contact/import/log:
    get:
      tags:
        - contact
      summary: ''
      description: ''
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__ContactImportLog-Request_ContactImportLog-Response_ContactImportLog-Response__geobaq'
  '/v2/contact/import/progress/{importId}':
    get:
      tags:
        - contact
      summary: ''
      description: ''
      parameters:
        - name: importId
          in: path
          required: true
          schema:
            pattern: '^[a-z]*$'
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__ContactImportProgress-Request_ContactImportProgress-Response_ContactImportProgress-Response__tncypra'
  /v2/contact/limit:
    get:
      tags:
        - contact
      summary: ''
      description: ''
      parameters:
        - name: contacts
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__ContactLimit-Request_ContactLimit-Response_ContactLimit-Response__pcqlnwi'
  /v2/contact:
    get:
      tags:
        - contact
      summary: ''
      description: ''
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            format: int32
        - name: maxPerPage
          in: query
          schema:
            type: integer
            format: int32
        - name: searchQuery
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__ContactList-Request_ContactList-Response_ContactList-Response__miqdq'
    put:
      tags:
        - contact
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpdate-Request_mfaxy'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__ContactUpdate-Request_ContactUpdate-Response_ContactUpdate-Response__aemijvq'
    post:
      tags:
        - contact
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpsert-Request_ktyqkq'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__ContactUpsert-Request_ContactUpsert-Response_ContactUpsert-Response__scrxhuq'
  /v2/contact/merge:
    post:
      tags:
        - contact
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactMerge-Request_kcndtq'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__ContactMerge-Request_ContactMerge-Response_ContactMerge-Response__crcoqy'
  /v2/contact/tag:
    put:
      tags:
        - contact
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactTagReplace-Request_odpaffa'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__ContactTagReplace-Request_ContactTagReplace-Response_ContactTagReplace-Response__xxzyvgq'
  /v2/contact/filter/properties:
    get:
      tags:
        - contact
      summary: ''
      description: ''
      parameters:
        - name: category
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__ContactPropertyColumns-Request_ContactPropertyColumns-Response_ContactPropertyColumns-Response__nggai'
  '/v2/contact/views/{cid}':
    get:
      tags:
        - contact
      summary: ''
      description: ''
      parameters:
        - name: cid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__ListSavedViews-Request_ListSavedViews-Response_ListSavedViews-Response__bhschsa'
  '/v2/contact/views/manage/{communityId}':
    get:
      tags:
        - contact
      summary: ''
      description: ''
      parameters:
        - name: communityId
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - name: maxPerPage
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__ManageSavedViews-Request_ManageSavedViews-Response_ManageSavedViews-Response__iyyia'
  /v2/contact/view/add-contacts:
    post:
      tags:
        - contact
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddIndividualContactsToSavedView-Request_kaliurq'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__AddIndividualContactsToSavedView-Request_AddIndividualContactsToSavedView-Response_AddIndividualContactsToSavedView-Response__wqqhty'
  '/v2/contact/view/load/{id}':
    get:
      tags:
        - contact
      summary: ''
      description: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            format: int32
        - name: maxPerPage
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__LoadContactsFromView-Request_LoadContactsFromView-Response_LoadContactsFromView-Response__hbamxi'
  /v2/contact/view/save:
    post:
      tags:
        - contact
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContactViewFromFilter-Request_rpiqq'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__CreateContactViewFromFilter-Request_CreateContactViewFromFilter-Response_CreateContactViewFromFilter-Response__vtiwxa'
  /v2/contact/filter:
    post:
      tags:
        - contact
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactSearch-Request_pvty'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__ContactSearch-Request_ContactSearch-Response_ContactSearch-Response__wqtci'
  /v2/email:
    get:
      tags:
        - email
      summary: ''
      description: ''
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__EmailTemplateList-Request_EmailTemplateList-Response_EmailTemplateList-Response__vxysday'
  '/v2/email/preview/{key}':
    post:
      tags:
        - email
      summary: ''
      description: ''
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /v2/liftshare/email/check:
    post:
      tags:
        - email
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailCheck-Request_zopznuy'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__EmailCheck-Request_EmailCheck-Response_EmailCheck-Response__jlcepq'
  '/v2/liftshare/email/verify/{token}':
    post:
      tags:
        - email
      summary: ''
      description: ''
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__EmailVerify-Request_EmailVerify-Response_EmailVerify-Response__ojoljla'
  /v2/emissions/high-frequency/imports/delete:
    post:
      tags:
        - emissions
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HighFreqDataImportBatchDelete-Request_hisiq'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__HighFreqDataImportBatchDelete-Request_HighFreqDataImportBatchDelete-Response_HighFreqDataImportBatchDelete-Response__vsmgma'
  /v2/emissions/high-frequency/imports:
    post:
      tags:
        - emissions
      summary: ''
      description: ''
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__HighFreqDataImportCreate-Request_HighFreqDataImportCreate-Response_HighFreqDataImportCreate-Response__syoijzq'
    get:
      tags:
        - emissions
      summary: ''
      description: ''
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__HighFreqDataImports-Request_HighFreqDataImports-Response_HighFreqDataImports-Response__gfwfcpa'
  '/v2/emissions/high-frequency/imports/{importId}':
    delete:
      tags:
        - emissions
      summary: ''
      description: ''
      parameters:
        - name: importId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__HighFreqDataImportDelete-Request_HighFreqDataImportDelete-Response_HighFreqDataImportDelete-Response__sxfwmgq'
  /v2/emissions/high-frequency/data-sources:
    get:
      tags:
        - emissions
      summary: ''
      description: ''
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__HighFreqDataSources-Request_HighFreqDataSources-Response_HighFreqDataSources-Response__gjwy'
  /v2/emissions/high-frequency:
    post:
      tags:
        - emissions
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HighFreqEmissions-Request_gkimcty'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__HighFreqEmissions-Request_HighFreqEmissions-Response_HighFreqEmissions-Response__hgoueq'
  /v2/emissions/low-frequency/dashboard:
    get:
      tags:
        - emissions
      summary: ''
      description: ''
      parameters:
        - name: cid
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__LowFreqDashboard-Request_LowFreqDashboard-Response_LowFreqDashboard-Response__lulgsfi'
  /v2/emissions/low-frequency:
    post:
      tags:
        - emissions
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LowFreqEmissions-Request_mysha'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__LowFreqEmissions-Request_LowFreqEmissions-Response_LowFreqEmissions-Response__tkjglby'
  /v2/feature-manager:
    get:
      tags:
        - feature-manager
      summary: ''
      description: ''
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__FeatureManagerList-Request_FeatureManagerList-Response_FeatureManagerList-Response__hxmfpq'
  /v2/badge/requirement-met:
    post:
      tags:
        - gamification
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BadgeRequirementMetCreate-Request_luzby'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__BadgeRequirementMetCreate-Request_BadgeRequirementMetCreate-Response_BadgeRequirementMetCreate-Response__mqmnq'
  '/v2/liftshare/badge/{badgeType}':
    get:
      tags:
        - gamification
      summary: ''
      description: ''
      parameters:
        - name: badgeType
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__BadgeDetails-Request_BadgeDetails-Response_BadgeDetails-Response__rdjafi'
  /v2/liftshare/badge:
    get:
      tags:
        - gamification
      summary: ''
      description: ''
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__BadgeList-Request_BadgeList-Response_BadgeList-Response__wqjhasa'
    put:
      tags:
        - gamification
      summary: ''
      description: ''
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__BadgeViewedUpdate-Request_BadgeViewedUpdate-Response_BadgeViewedUpdate-Response__zomyi'
  /v2/liftshare/journey:
    post:
      tags:
        - journey
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JourneyUpsert-Request_xbmluey'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__JourneyUpsert-Request_JourneyUpsert-Response_JourneyUpsert-Response__htjha'
  /v2/liftshare/gamification/public-leaderboard:
    get:
      tags:
        - Leaderboard
      summary: ''
      description: ''
      parameters:
        - name: dateFilter
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__PublicLeaderboard-Request_PublicLeaderboard-Response_PublicLeaderboard-Response__zarxwcy'
  /v2/liftshare/gamification/leaderboard-communities:
    get:
      tags:
        - LeaderboardCommunities
      summary: ''
      description: ''
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__MyLeaderboardCommunities-Request_MyLeaderboardCommunities-Response_MyLeaderboardCommunities-Response__hebra'
  /v2/liftshare/dashboard/statistics/current/cumulative-members:
    get:
      tags:
        - liftshare-dashboard
      summary: ''
      description: ''
      parameters:
        - name: cid
          in: query
          schema:
            type: array
            items:
              type: string
        - name: dateGranularity
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/CumulativeTripAuthentications-DateGranularity_ioemq'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__CumulativeMembersInCommunity-Request_CumulativeMembersInCommunity-Response_CumulativeMembersInCommunity-Response__ukiudy'
  /v2/liftshare/dashboard/statistics/current/cumulative-trip-authentications:
    get:
      tags:
        - liftshare-dashboard
      summary: ''
      description: ''
      parameters:
        - name: cid
          in: query
          schema:
            type: array
            items:
              type: string
        - name: dateGranularity
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/CumulativeTripAuthentications-DateGranularity_ioemq'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__CumulativeTripAuthentications-Request_CumulativeTripAuthentications-Response_CumulativeTripAuthentications-Response__epyni'
  /v2/liftshare/dashboard/statistics/current/journeys:
    get:
      tags:
        - liftshare-dashboard
      summary: ''
      description: ''
      parameters:
        - name: cid
          in: query
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__JourneysInCommunity-Request_JourneysInCommunity-Response_JourneysInCommunity-Response__catmysq'
  /v2/liftshare/dashboard/statistics/current/summary:
    get:
      tags:
        - liftshare-dashboard
      summary: ''
      description: ''
      parameters:
        - name: cid
          in: query
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__LiftshareCurrentStatsSummary-Request_LiftshareCurrentStatsSummary-Response_LiftshareCurrentStatsSummary-Response__keqvzhq'
  /v2/liftshare/dashboard/statistics/current/liftshare-teams:
    get:
      tags:
        - liftshare-dashboard
      summary: ''
      description: ''
      parameters:
        - name: cid
          in: query
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__LiftshareTeamsInCommunity-Request_LiftshareTeamsInCommunity-Response_LiftshareTeamsInCommunity-Response__vaiyxeq'
  /v2/liftshare/dashboard/statistics/current/members:
    get:
      tags:
        - liftshare-dashboard
      summary: ''
      description: ''
      parameters:
        - name: cid
          in: query
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__MembersInCommunity-Request_MembersInCommunity-Response_MembersInCommunity-Response__ywlaq'
  /v2/liftshare/dashboard/statistics/current/request-to-shares:
    get:
      tags:
        - liftshare-dashboard
      summary: ''
      description: ''
      parameters:
        - name: cid
          in: query
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__RequestToSharesInCommunity-Request_RequestToSharesInCommunity-Response_RequestToSharesInCommunity-Response__qoeq'
  /v2/liftshare/dashboard/statistics/current/trip-authentications-leaderboard:
    get:
      tags:
        - liftshare-dashboard
      summary: ''
      description: ''
      parameters:
        - name: cid
          in: query
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__TripAuthenticationsLeagueTable-Request_TripAuthenticationsLeagueTable-Response_TripAuthenticationsLeagueTable-Response__qkkdui'
  /v2/liftshare/dashboard/statistics/membership:
    get:
      tags:
        - LiftshareDashboard
      summary: ''
      description: ''
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__MembershipStats-Request_MembershipStats-Response_MembershipStats-Response__xhety'
  '/v2/liftshare/mobile/verify/{token}':
    post:
      tags:
        - mobile
      summary: ''
      description: ''
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__VerifyMobileNumber-Request_VerifyMobileNumber-Response_VerifyMobileNumber-Response__uakqi'
  /v2/liftshare/notifications:
    get:
      tags:
        - notifications
      summary: ''
      description: ''
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__NotificationList-Request_NotificationList-Response_NotificationList-Response__tuiexq'
  /v2/nps:
    post:
      tags:
        - nps
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NpsCreate-BaseRequest_brtfa'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__NpsCreate-Request_NpsCreate-Response_NpsCreate-Response__fmry'
    put:
      tags:
        - nps
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NpsUpdate-BaseRequest_cokchmq'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__NpsUpdate-Request_NpsUpdate-Response_NpsUpdate-Response__gzqniq'
  '/v2/nps/{category}':
    get:
      tags:
        - nps
      summary: ''
      description: ''
      parameters:
        - name: category
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__NpsDetails-Request_NpsDetails-Response_NpsDetails-Response__irqpfa'
  '/v2/onboarding-checklist/{communityId}':
    get:
      tags:
        - onboarding
      summary: ''
      description: ''
      parameters:
        - name: communityId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__OnboardingChecklist-Request_OnboardingChecklist-Response_OnboardingChecklist-Response__yyki'
  '/v2/pending-account/batch/{id}':
    delete:
      tags:
        - pending-account
      summary: ''
      description: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__PendingLiftshareAccountBatchDelete-Request_PendingLiftshareAccountBatchDelete-Response_PendingLiftshareAccountBatchDelete-Response__brvrri'
  '/v2/pending-account/batch/{batchId}':
    get:
      tags:
        - pending-account
      summary: ''
      description: ''
      parameters:
        - name: batchId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__PendingLiftshareAccountBatchDetails-Request_PendingLiftshareAccountBatchDetails-Response_PendingLiftshareAccountBatchDetails-Response__ptbyri'
  /v2/pending-account/batch/finalize:
    put:
      tags:
        - pending-account
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PendingLiftshareAccountBatch-Upsert_ykbrqy'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__PendingLiftshareAccountBatchFinalize-Request_PendingLiftshareAccountBatchFinalize-Response_PendingLiftshareAccountBatchFinalize-Response__swima'
  /v2/pending-account/batch:
    get:
      tags:
        - pending-account
      summary: ''
      description: ''
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__PendingLiftshareAccountBatchList-Request_PendingLiftshareAccountBatchList-Response_PendingLiftshareAccountBatchList-Response__ivqja'
    put:
      tags:
        - pending-account
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PendingLiftshareAccountBatch-Upsert_ykbrqy'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__PendingLiftshareAccountBatchUpsert-Request_PendingLiftshareAccountBatchUpsert-Response_PendingLiftshareAccountBatchUpsert-Response__ptry'
  /v2/pending-account/batch/preview-email:
    post:
      tags:
        - pending-account
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PendingLiftshareAccountBatchPreview-Request_olxgra'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__PendingLiftshareAccountBatchPreview-Request_PendingLiftshareAccountBatchPreview-Response_PendingLiftshareAccountBatchPreview-Response__qhqedq'
  /v2/pending-account/image:
    put:
      tags:
        - pending-account
      summary: ''
      description: ''
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__PendingLiftshareAccountImageUpsert-Request_PendingLiftshareAccountImageUpsert-Response_PendingLiftshareAccountImageUpsert-Response__qbxtmyy'
  /v2/PrivateTransportService/Migration:
    put:
      tags:
        - PrivateTransporMigration
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateTransportServiceUpsertGeoJsonMigration-Request_jpbqyfy'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__PrivateTransportServiceUpsertGeoJsonMigration-Request_PrivateTransportServiceUpsertGeoJsonMigration-Response_PrivateTransportServiceUpsertGeoJsonMigration-Response__opbcnuq'
  /v2/PrivateTransportService/Upsert:
    put:
      tags:
        - PrivateTransportUpsert
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateTransportServiceUpsert-Request_pjweuy'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__PrivateTransportServiceUpsert-Request_PrivateTransportServiceUpsert-Response_PrivateTransportServiceUpsert-Response__qdtevy'
  '/v2/liftshare/profile/{id}':
    put:
      tags:
        - profile
      summary: ''
      description: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__ProfileDetails-Request_ProfileDetails-Response_ProfileDetails-Response__yayntgi'
  /v2/liftshare/push-token:
    post:
      tags:
        - push-token
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushTokenUpsert-BaseRequest_niua'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__PushTokenUpsert-Request_PushTokenUpsert-Response_PushTokenUpsert-Response__moolnq'
  /v2/e2e-tests/respawn-community:
    post:
      tags:
        - RespawnCommunity
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RespawnCommunity-Request_abbdi'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__RespawnCommunity-Request_RespawnCommunity-Response_RespawnCommunity-Response__khgceji'
  /v2/scoping/report:
    post:
      tags:
        - scoping
      summary: ''
      description: ''
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__ScopingReportUpload-Request_ScopingReportUpload-Response_ScopingReportUpload-Response__vzdfza'
  /v2/settings:
    put:
      tags:
        - settings
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardSettingsUpdate-BaseRequest_dgtyi'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__DashboardSettingsUpdate-Request_DashboardSettingsUpdate-Response_DashboardSettingsUpdate-Response__ulsbya'
  /v2/liftshare/payment-link:
    put:
      tags:
        - settings
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentLinkUpdate-BaseRequest_ilygpi'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__PaymentLinkUpdate-Request_PaymentLinkUpdate-Response_PaymentLinkUpdate-Response__mvddpbq'
  '/v2/liftshare/subscription/{token}':
    get:
      tags:
        - subscription
      summary: ''
      description: ''
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__SubscriptionDetails-Request_SubscriptionDetails-Response_SubscriptionDetails-Response__pcxfy'
  /v2/liftshare/subscription/reason:
    post:
      tags:
        - subscription
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionReasonCreate-Request_gnalpaa'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__SubscriptionReasonCreate-Request_SubscriptionReasonCreate-Response_SubscriptionReasonCreate-Response__dybtfly'
  /v2/liftshare/subscription:
    put:
      tags:
        - subscription
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionUpdate-Request_befoq'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__SubscriptionUpdate-Request_SubscriptionUpdate-Response_SubscriptionUpdate-Response__cqderq'
  /v2/support-request:
    post:
      tags:
        - support-request
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupportRequestSend-Request_fnvyi'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__SupportRequestSend-Request_SupportRequestSend-Response_SupportRequestSend-Response__feqxhy'
  '/v2/acel/from-survey/{publicSurveyId}':
    get:
      tags:
        - survey
      summary: ''
      description: Get a breakdown of ACEL response data from a survey that contains ACEL questions
      parameters:
        - name: publicSurveyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__AcelBreakdownFromSurvey-Request_AcelBreakdownFromSurvey-Response_AcelBreakdownFromSurvey-Response__itgumri'
  /v2/acel:
    post:
      tags:
        - survey
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcelReportCreate-BaseRequest_fuollui'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__AcelReportCreate-Request_AcelReportCreate-Response_AcelReportCreate-Response__srci'
  /v2/acel/from-survey:
    post:
      tags:
        - survey
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcelReportCreateFromSurvey-BaseRequest_feeyti'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__AcelReportCreateFromSurvey-Request_AcelReportCreateFromSurvey-Response_AcelReportCreateFromSurvey-Response__fjelq'
  '/v2/acel/{reportId}':
    delete:
      tags:
        - survey
      summary: ''
      description: ''
      parameters:
        - name: reportId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__AcelReportDelete-Request_AcelReportDelete-Response_AcelReportDelete-Response__lfnbjki'
    get:
      tags:
        - survey
      summary: ''
      description: ''
      parameters:
        - name: reportId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__AcelReportDetails-Request_AcelReportDetails-Response_AcelReportDetails-Response__obrydii'
  /v2/survey:
    get:
      tags:
        - survey
      summary: ''
      description: ''
      parameters:
        - name: publicSurveyId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__SurveyDetail-Request_SurveyDetail-Response_SurveyDetail-Response__aprvy'
  /v2/survey/previous:
    get:
      tags:
        - survey
      summary: ''
      description: ''
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__SurveyList-Request_SurveyList-Response_SurveyList-Response__utoki'
  '/v2/Survey/Question/Export/{publicSurveyId}/{questionId}':
    get:
      tags:
        - survey
      summary: ''
      description: ''
      parameters:
        - name: publicSurveyId
          in: path
          required: true
          schema:
            type: string
        - name: questionId
          in: path
          required: true
          schema:
            type: string
        - name: dateFrom
          in: query
          required: true
          schema:
            type: string
        - name: dateTo
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  '/v2/survey/{id}/sent':
    get:
      tags:
        - survey
      summary: ''
      description: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__SurveySent-Request_SurveySent-Response_SurveySent-Response__ssuetda'
  '/v2/survey/summary/questions/{publicSurveyId}':
    get:
      tags:
        - survey
      summary: ''
      description: ''
      parameters:
        - name: publicSurveyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__SurveyQuestionsList-Request_SurveyQuestionsList-Response_SurveyQuestionsList-Response__ccsifmy'
  /v2/tag:
    get:
      tags:
        - tag
      summary: ''
      description: ''
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__TagList-Request_TagList-Response_TagList-Response__dyncba'
  /v2/token:
    post:
      tags:
        - token
      summary: ''
      description: Main way of authenticating and generating a JWT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminTokenCreate-Request_kiaya'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__AdminTokenCreate-Request_AdminTokenCreate-Response_AdminTokenCreate-Response__chhyfgy'
  /v2/token/refresh:
    post:
      tags:
        - token
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminTokenRefresh-Request_qwdywq'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__AdminTokenRefresh-Request_AdminTokenRefresh-Response_AdminTokenRefresh-Response__qjkaosq'
  /v2/token/two-factor:
    post:
      tags:
        - token
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminTokenTwoFactorCreate-Request_iifgka'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__AdminTokenTwoFactorCreate-Request_AdminTokenTwoFactorCreate-Response_AdminTokenTwoFactorCreate-Response__caulcy'
  /v2/liftshare/token:
    post:
      tags:
        - token
      summary: ''
      description: Main way of authenticating and generating a JWT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenCreate-Request_hakhvwy'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__TokenCreate-Request_TokenCreate-Response_TokenCreate-Response__zumua'
  /v2/travel-plan/batch:
    post:
      tags:
        - travel-plan
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TravelPlanBatchSearch-Request_jdcpq'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__TravelPlanBatchSearch-Request_TravelPlanBatchSearch-Response_TravelPlanBatchSearch-Response__luq'
  /v2/travel-plan/export:
    post:
      tags:
        - travel-plan
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TravelPlanListExportToCsv-Request_odfpocq'
      responses:
        '200':
          description: Success
  /v2/travel-plan/rate-limit:
    get:
      tags:
        - travel-plan
      summary: ''
      description: ''
      parameters:
        - name: plans
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__TravelPlanRateLimit-Request_TravelPlanRateLimit-Response_TravelPlanRateLimit-Response__igua'
  /v2/travel-plan/search:
    post:
      tags:
        - travel-plan
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TravelPlanSearch-Request_zdxsyi'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__TravelPlanSearch-Request_TravelPlanSearch-Response_TravelPlanSearch-Response__bqlla'
  /v2/travel-plan/behavior-change/distance-breakdown:
    get:
      tags:
        - travel-plan
      summary: ''
      description: ''
      parameters:
        - name: cid
          in: query
          schema:
            type: string
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date-time
        - name: dateTo
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__BehaviorChangeJourneyDistanceFrequencyBreakdown-Request_BehaviorChangeJourneyDistanceFrequencyBreakdown-Response_BehaviorChangeJourneyDistanceFrequencyBreakdown-Response__ssbvdq'
  /v2/travel-plan/behavior-change/modal-shift:
    get:
      tags:
        - travel-plan
      summary: ''
      description: ''
      parameters:
        - name: cid
          in: query
          schema:
            type: string
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date-time
        - name: dateTo
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__BehaviorChangeModalShiftChart-Request_BehaviorChangeModalShiftChart-Response_BehaviorChangeModalShiftChart-Response__zupwmya'
  /v2/travel-plan/behavior-change/results-mode-breakdown:
    get:
      tags:
        - travel-plan
      summary: ''
      description: ''
      parameters:
        - name: cid
          in: query
          schema:
            type: string
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date-time
        - name: dateTo
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__BehaviorChangePublicTransportResultsModeBreakdown-Request_BehaviorChangePublicTransportResultsModeBreakdown-Response_BehaviorChangePublicTransportResultsModeBreakdown-Response__nfvwq'
  /v2/travel-plan/behavior-change/barriers-to-change:
    get:
      tags:
        - travel-plan
      summary: ''
      description: ''
      parameters:
        - name: cid
          in: query
          schema:
            type: string
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date-time
        - name: dateTo
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__StillConsideringChangeChart-Request_StillConsideringChangeChart-Response_StillConsideringChangeChart-Response__holkpki'
  /v2/travel-plan/behavior-change/plan-metrics:
    get:
      tags:
        - travel-plan
      summary: ''
      description: ''
      parameters:
        - name: cid
          in: query
          schema:
            type: string
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date-time
        - name: dateTo
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__TravelPlanEmailConversionMetrics-Request_TravelPlanEmailConversionMetrics-Response_TravelPlanEmailConversionMetrics-Response__arvqmxy'
  /v2/travel-plan/email-metrics:
    get:
      tags:
        - travel-plan
      summary: ''
      description: ''
      parameters:
        - name: cid
          in: query
          schema:
            type: string
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date-time
        - name: dateTo
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__TravelPlanEmailCampaignMetrics-Request_TravelPlanEmailCampaignMetrics-Response_TravelPlanEmailCampaignMetrics-Response__ffjlza'
  '/v2/travel-plans/plan-results/{id}':
    get:
      tags:
        - TravelPlanOnlineResults
      summary: ''
      description: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: preview
          in: query
          required: true
          schema:
            type: boolean
      responses:
        '200':
          description: Success
  /v2/travel-plan/admin-overview/modal-shift-breakdown:
    post:
      tags:
        - travel-plan-overview
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModalShiftBreakdown-Request_gbfi'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__ModalShiftBreakdown-Request_ModalShiftBreakdown-Response_ModalShiftBreakdown-Response__ycdji'
  /v2/travel-plan/admin-overview/public-transport-modes:
    post:
      tags:
        - travel-plan-overview
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicTransportResultsModeBreakdown-Request_zkoacy'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__PublicTransportResultsModeBreakdown-Request_PublicTransportResultsModeBreakdown-Response_PublicTransportResultsModeBreakdown-Response__arefi'
  /v2/travel-plan/admin-overview/total-modal-shift:
    post:
      tags:
        - travel-plan-overview
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TotalModalShift-Request_nxjidhy'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__TotalModalShift-Request_TotalModalShift-Response_TotalModalShift-Response__whnka'
  /v2/travel-plan/admin-overview/plan-email-metrics:
    post:
      tags:
        - travel-plan-overview
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TravelPlanEmailMetrics-Request_ilngfmy'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__TravelPlanEmailMetrics-Request_TravelPlanEmailMetrics-Response_TravelPlanEmailMetrics-Response__bkgxy'
  '/v2/liftshare/trip-authentication/{teamId}':
    get:
      tags:
        - trip-authentication
      summary: ''
      description: ''
      parameters:
        - name: teamId
          in: path
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__AuthenticatedTrips-Request_AuthenticatedTrips-Response_AuthenticatedTrips-Response__sqylhza'
  /v2/liftshare/trip-authentication/reminder:
    get:
      tags:
        - trip-authentication
      summary: ''
      description: ''
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__TripAuthenticationReminderDetails-Request_TripAuthenticationReminderDetails-Response_TripAuthenticationReminderDetails-Response__swoq'
    put:
      tags:
        - trip-authentication
      summary: ''
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TripAuthenticationReminderUpdate-BaseRequest_csidjia'
      responses:
        '200':
          description: Success
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AbstractModule-ApiResponse__TripAuthenticationReminderUpdate-Request_TripAuthenticationReminderUpdate-Response_TripAuthenticationReminderUpdate-Response__akhrq'
components:
  schemas:
    AbstractModule-ApiErrorDetails__AcelBreakdownFromSurvey-Request_AcelBreakdownFromSurvey-Response__lcaq:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__AcelNationalBreakdown-Request_AcelNationalBreakdown-Response__eytxi:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__AcelReportCreate-Request_AcelReportCreate-Response__vcri:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__AcelReportCreateFromSurvey-Request_AcelReportCreateFromSurvey-Response__cojlli:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__AcelReportDelete-Request_AcelReportDelete-Response__oxhyy:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__AcelReportDetails-Request_AcelReportDetails-Response__xzq:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__AddIndividualContactsToSavedView-Request_AddIndividualContactsToSavedView-Response__phyeera:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__AdminTokenCreate-Request_AdminTokenCreate-Response__llrecwa:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__AdminTokenRefresh-Request_AdminTokenRefresh-Response__axjci:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__AdminTokenTwoFactorCreate-Request_AdminTokenTwoFactorCreate-Response__ixxrdly:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__AuthenticatedTrips-Request_AuthenticatedTrips-Response__mwuq:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__BadgeDetails-Request_BadgeDetails-Response__ouoxtri:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__BadgeList-Request_BadgeList-Response__qucmuq:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__BadgeRequirementMetCreate-Request_BadgeRequirementMetCreate-Response__faqpujy:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__BadgeViewedUpdate-Request_BadgeViewedUpdate-Response__jbemjpy:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__BehaviorChangeJourneyDistanceFrequencyBreakdown-Request_BehaviorChangeJourneyDistanceFrequencyBreakdown-Response__sngii:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__BehaviorChangeModalShiftChart-Request_BehaviorChangeModalShiftChart-Response__qqjesby:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__BehaviorChangePublicTransportResultsModeBreakdown-Request_BehaviorChangePublicTransportResultsModeBreakdown-Response__tmsny:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__ClientOverview-Request_ClientOverview-Response__zxfsa:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__CommunityFindByName-Request_CommunityFindByName-Response__sfnonaa:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__CommunityLeaderboard-Request_CommunityLeaderboard-Response__rxeq:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__CommunityList-Request_CommunityList-Response__eonrpsq:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__ContactDelete-Request_ContactDelete-Response__jcwfpa:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__ContactDetails-Request_ContactDetails-Response__qccq:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__ContactEmailExists-Request_ContactEmailExists-Response__kczzaei:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__ContactImport-Request_ContactImport-Response__kezysi:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__ContactImportHeaders-Request_ContactImportHeaders-Response__vktzfa:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__ContactImportLog-Request_ContactImportLog-Response__nuqwqda:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__ContactImportProgress-Request_ContactImportProgress-Response__kpcjjua:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__ContactLimit-Request_ContactLimit-Response__dgojwjy:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__ContactList-Request_ContactList-Response__gzkxti:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__ContactMerge-Request_ContactMerge-Response__khwdci:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__ContactPropertyColumns-Request_ContactPropertyColumns-Response__osttq:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__ContactSearch-Request_ContactSearch-Response__ubxzfyi:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__ContactTagReplace-Request_ContactTagReplace-Response__bwdtla:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__ContactUpdate-Request_ContactUpdate-Response__autegi:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__ContactUpsert-Request_ContactUpsert-Response__kbycci:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__CreateContactViewFromFilter-Request_CreateContactViewFromFilter-Response__soarrkq:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__CumulativeMembersInCommunity-Request_CumulativeMembersInCommunity-Response__bohwni:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__CumulativeTripAuthentications-Request_CumulativeTripAuthentications-Response__jrwaki:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__DashboardSettingsUpdate-Request_DashboardSettingsUpdate-Response__jfmeia:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__DistanceFrequencyBreakdown-Request_DistanceFrequencyBreakdown-Response__btextq:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__EmailCheck-Request_EmailCheck-Response__zdotgq:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__EmailTemplateList-Request_EmailTemplateList-Response__cuyei:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__EmailVerify-Request_EmailVerify-Response__wgusdui:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__FeatureManagerList-Request_FeatureManagerList-Response__mrrxwpq:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__HighFreqDataImportBatchDelete-Request_HighFreqDataImportBatchDelete-Response__wisyy:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__HighFreqDataImportCreate-Request_HighFreqDataImportCreate-Response__ygjvy:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__HighFreqDataImportDelete-Request_HighFreqDataImportDelete-Response__kxbrva:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__HighFreqDataImports-Request_HighFreqDataImports-Response__fzeqa:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__HighFreqDataSources-Request_HighFreqDataSources-Response__lvjqq:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__HighFreqEmissions-Request_HighFreqEmissions-Response__jirbmba:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__JourneyUpsert-Request_JourneyUpsert-Response__dlqhy:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__JourneysInCommunity-Request_JourneysInCommunity-Response__ecwcny:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__LiftshareCurrentStatsSummary-Request_LiftshareCurrentStatsSummary-Response__skxwaua:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__LiftshareTeamsInCommunity-Request_LiftshareTeamsInCommunity-Response__lkaka:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__ListSavedViews-Request_ListSavedViews-Response__cxsli:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__LoadContactsFromView-Request_LoadContactsFromView-Response__gxfenjq:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__Log-Request_Log-Response__exrwnji:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__LowFreqDashboard-Request_LowFreqDashboard-Response__gylni:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__LowFreqEmissions-Request_LowFreqEmissions-Response__envbti:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__ManageSavedViews-Request_ManageSavedViews-Response__hkejgva:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__MembersInCommunity-Request_MembersInCommunity-Response__xilbka:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__MembershipStats-Request_MembershipStats-Response__naugpy:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__MobileAppDashboard-Request_MobileAppDashboard-Response__zzwia:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__ModalShiftBreakdown-Request_ModalShiftBreakdown-Response__fnszq:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__MyLeaderboardCommunities-Request_MyLeaderboardCommunities-Response__uifgy:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__NotificationList-Request_NotificationList-Response__qlezjxa:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__NpsCreate-Request_NpsCreate-Response__gjdncma:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__NpsDetails-Request_NpsDetails-Response__cpy:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__NpsUpdate-Request_NpsUpdate-Response__aaetni:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AbstractModule-ApiErrorDetails__OnboardingChecklist-Request_OnboardingChecklist-Response__zgqzjq:
      type: object
      properties:
        code:
          type: string
          nullable: true
          readOnly: true
        messages:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
[...]
